{% extends 'base/main.html' %} {% block content %}



    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"></a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}

        <a href="{% url 'cattles' %}">&#8592; Back</a>

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">


                <div class="card-body">

                  <div class="row">
                    <div class="col-md-6">
                      <address>
                        <p class="font-weight-bold">Name:-  {{cattle.name}} </p>
                        <p>
                          Sex:-- {{cattle.sex}}
                        </p>
                        <p>
                           DOB:--   {{cattle.dob}}
                        </p>
                        <p>
                          Breed:  {{cattle.breed}}
                        </p>
                          <p>
                          Colour:{{cattle.colour}}
                        </p>
                      </address>
                    </div>
                    <div class="col-md-6">
                       <div class="template-demo">
                        <button type="button" class="btn btn-primary btn-rounded btn-fw">Sell / Exchange</button>

                        <button type="button" class="btn btn-success btn-rounded btn-fw"><a style="text-decoration: none; color: #fff;" href="{% url 'cattle-update' cattle.id %}">Update </a></button>
                           <button type="button" class="btn btn-danger btn-rounded btn-fw"><a style="text-decoration: none; color: #fff;" href="{% url 'cattle-delete' cattle.id %}">Delete</a></button>

                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </div>




{% endblock content %}